.btn--green,
a.btn--green {
  width: 220px;
  color: #fff;
  background-color: #078855;
}
.btn--green:hover,
a.btn--green:hover {
  color: #000;
  background: #ffffff;
}

a.btn--radius {
   border-radius: 100vh;
}

.btn--white,
a.btn--white {
  width: 160px;
  color: #fff;
  background-color: #000000;
  border: 2px solid #ffffff;
}
.btn--white:hover,
a.btn--white:hover {
  color: #000;
  background: #ffffff;
}



.btn,
a.btn,
button.btn {
  font-size: 1.1rem;
  font-weight: 200;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  border-radius: 0.5rem;
}

input[type=text]{
width:370px;
height:30px;
}